/*===========================
        cadastro
  ===========================*/
  body{
    background-color: rgba(0, 0, 0, 0.78)!important;
}
.container{
  text-align: center;
}

.btn {
    width: 150px;
    background-color: #50c9bf;
    border: none;
    outline: none;
    height: 49px;
    color: #fff;
    text-transform:capitalize;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }

.btn-login{
  color: rgb(248, 248, 248)!important;
  background-color: #61CA86 !important;
  margin: 0 8px;
  
}

.btn-sign{
  color: rgb(248, 248, 248)!important;
  background-color: #56CCF2 !important;
  margin: 0 8px; 
  
}

.inputContainer i {
  position: absolute;
  right: 0;
  top: 8px;
  padding: 7px;
}
.inputContainer {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
.icon {
  padding: 10px;
  color: rgba(0, 0, 0, 0.78);
  width: 85px;
  position: absolute;

}
.Field {
  width: 100%;
  padding: 10px;
  text-align: left;
  border-radius: 6px;
}
.form-check-input:checked{
 background-color:#61CA86!important;
 border-color:#fff!important;
}
