/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #323232;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;

  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

.unique-startup-div {
	background-color: #fff; height: auto; border-radius: 26px; width: 80%; margin: 50px 25px 25px 75px;
}

@media(max-width: 750px){
	.unique-startup-div {
		width: 100%; margin: 0 0 5% 0;
	}
}


body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}
span{
	border-bottom: 0;
}

a {
  text-decoration: none;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #323232;
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.header__toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img {
  width: 40px;
}

.bx-grid-alt {
  cursor: default;
  visibility: hidden;
  padding-bottom: 100px;
}

/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav__logo,
.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav__logo {
  margin-bottom: 2rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.nav__link {
  font-size: 20px;
  position: relative;
  color: var(--white-color);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.nav__link img {
  margin-bottom: 0rem;
}

.linha {
  width: 100%;
  border-bottom: 1px solid #575757;
  margin-left: 15px;
  margin-bottom: 3rem;
}

.nav__link:hover {
  color: #61ca86;
}

.nav__icon {
  font-size: 1.25rem;
}
.navImg {
  cursor: default;
}

/*Show navbar movil*/
.show {
  left: 0;
}

/*Add padding body movil*/
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active {
  color: var(--white-color);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #61ca86;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header__name {
    font-size: 24px;
    color: #56ccf2;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  /*Show navbar desktop*/
  .show {
    width: calc(var(--nav-width) + 156px);
  }
  /*Add padding body desktop*/
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

.startup-name {
  text-align: left; 
  font-size: 21px; 
  padding: 12px;
  font-weight: 700; 
  color: #fff;
}

.section-dashboard {
  margin-top: 85px; margin-left: 0px;
}

@media(max-width: 700px){

}

.div-main-dashboard {
  background-color: #fff; height: auto; border-radius: 26px; width: 80%; margin: 50px 25px 25px 25px;
}



.startup-name-div {
  background-color: #c4c4c4; border-top-left-radius: 26px; border-top-right-radius: 26px;
}

.button-to-log {
  margin-top: 15px;
  border: 0;
  font-size: 20px;
  background-color: #61ca86;
  padding: 15px 59px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

